
#mList {
    margin: 0px auto;
    text-align: right;
}

/* EOF demo */

#mList a {
    margin: 10px;
    width: 275px;
    height: 155px;
    line-height: 155px; /* match height */
    color: #FFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-table;
}

/* media list title overlay */

#mList a .videoplay {
    visibility: visible;
    background: rgba(0, 0, 0, .3);
}

/* On hover actions */

#mList a:hover .videoplay {
    visibility: hidden;
}

/* === popup media player === */

/* background overlay */

#mPlayer {
    display: none;
}

#mPlayerblock {
    background: rgb(248, 248, 248);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    left: 0;
    top: 10px;
}

/* video player */

#mPlayerblock .videoview {
    position: relative;
    background: #000;
    width: 100%; /* width of YouTube Player */
    height: 360px; /* height of YouTube Player */
    /*left: calc(50vw - 280px); !* 280 is .5(560), centers x axis*!*/
    /*top: calc(50vh - 157px); !* 157 is .5(315), centers y axis*!*/
    margin: 0;
    border: 1px solid #000;
    max-width: 690px;
}

#mPlayerblock iframe {
    width: 100%;
    height: 100%;
}

.title-heading {
    font-size: 22px;
}

.fullwidth {
    width: 100%
}

.fullwidth #mList {
    margin: 0px;
    text-align: left;
    border: 0;
    background: none;
    padding: 0;
}

.fullwidth #mList a {
    margin: 10px;
}

@media (min-width: 768px) {
    .videoblock {
        width: 940px;
        margin: 10px auto
    }

    #mList {
        margin-top: 10px;
        text-align: center;
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0 10px 10px;
    }

    #mList a {
        margin: 10px 0 0;
        width: 100%;
        height: 160px;
        line-height: 160px;
        max-width: 290px;
    }
}

@media (max-width: 990px) {
    .videoblock {
        width: 720px;
        margin: 10px auto
    }

    #mPlayerblock .videoview {
        width: 100%; /* width of YouTube Player */
        height: 290px; /* height of YouTube Player */
    }

    .fullwidth #mList a {
        width: 100%;
        height: 160px;
        line-height: 160px;
        max-width: 290px;
    }

    #mList a {
        margin: 10px 0 0;
        width: 100%;
        height: 126px;
        line-height: 126px;
        max-width: 290px;
    }
}

@media (max-width: 767px) {
    .videoblock {
        width: 100%;
        margin: 10px auto
    }

    .fixed-padding {
        padding-top: 56px;
    }

    #mPlayerblock .videoview {
        width: 440px;
        height: 220px;
        margin: auto;
    }

    #mPlayerblock iframe {
        width: 100%;
        height: 100%;
    }

    #mList {
        margin-top: 10px;
        text-align: left;
        max-width: 440px;
    }

    #mList a {
        margin: 10px 0 0;
        width: 100%;
        height: 138px;
        line-height: 138px;
        max-width: 240px;
    }

}

@media (max-width: 480px) {

    #mPlayerblock {
        margin-bottom: 20px;
    }

    #mPlayerblock .videoview {
        width: 100%;
        height: 220px;
        margin: auto;
    }



    #mList a {
        margin: 10px auto;
        width: 100%;
        height: 150px;
        line-height: 150px;
        display: block;
        max-width: 240px;
    }
}